@import './assets/styles/fonts';
@import './assets/styles/colors';
@import './assets/styles/variables';

html {
  font-size: 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Russo One', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 2rem;

  color-scheme: light dark;
  color: $textClr;
  background-color: $bgClr;
}

a {
  font-weight: 500;
  color: $linkClr;
  text-decoration: inherit;
}
a:hover {
  color: $linkHoverClr;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

div#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: $textClr;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $linkClr;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f0efe0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#drum-machine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 40%;
  margin: 0 auto;
  background-color: gray;
  border-radius: 11px;
  padding: 2rem 3rem;
  section {
    flex: 0 0 150px;
    min-width: 250px;
  }
  section.display-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.6rem;
  }
  section.pad-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;

    button.drum-pad {
      background-color: $btnBgClr;
      color: $textClr;
      width: 3rem;
      height: 3rem;
      box-shadow: 5px 5px 15px black;
      border-radius: 11px;
      display: grid;
      place-items: center;
      p {
        font-size: 1rem;
        color: inherit;
      }
      audio {
        display: none;
      }
    }
  }
}
