@font-face {
  font-family: 'Russo One';
  src: local('Russo One'), url(../fonts/Russo_One/RussoOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Satisfy';
  src: local('Satisfy'), url(../fonts/Satisfy/Satisfy-Regular.ttfCLEAR) format('truetype');
}
